@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@import "tailwindcss";

@theme {
  /* Backgrounds */
  --color-bg: #fffef0;
  --color-surface: #f8f6e8;
  --color-paper: #fffbea;

  /* Typography */
  --color-ink: #000000;
  --color-ink-soft: #1a1a1a;

  /* Muted */
  --color-muted: #6b6b6b;
  --color-muted-light: #9a9a9a;

  /* Accent */
  --color-red: #ff2b2b;
  --color-red-dark: #cc0000;
  --color-red-light: #ff6b6b;

  --color-yellow: #ffe600;
  --color-yellow-dark: #e6cf00;

  /* States */
  --color-success: #008000;
  --color-warning: #ff9900;
  --color-danger: #ff2b2b;

  /* Borders */
  --color-border: #000000;
  --color-border-soft: #2a2a2a;

  /* CTA */
  --color-btn-bg: "#8B5CF6";

  /* Fonts */
  --font-headline: "Anton", sans-serif;
  --font-body: "Courier Prime", monospace;
  /* --font-label: "IBM Plex Sans", sans-serif; */
  --font-ui : "Fira Sans", sans-serif;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg-alt {
  background: var(--color-bg-alt);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

